@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoBlack;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

* {
    font-family: 'robotoRegular', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(213, 213, 213);
}



.container {
    max-width: 1200px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 250px 3fr ;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 75px 275px 150px;
    grid-row: 1 / 3;
    background-color: #0284c7;
}

.logo {
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: center;
    align-content: center;
    gap: 10px;
    color: white;
    font-size: 28px;
    margin: 20px 30px 30px 10px;
}

.logo h4 {
    font-weight: ;
    font-size: 24px;
    margin-top: 4px;
}

.logo img {
    width: 40px;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 4;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 25px;
    align-items: center;
    box-shadow: 0 5px 5px -5px gray;
    
}

button:hover {
    cursor: pointer;
}

.header button {
    border: none;
    background-color: white;
}

.header input {
    padding-left: 4px;
    margin-left: 5px;
    width: 400px;
    height: 24px;
    border-radius: 12px;
    border: none;
    background-color: rgb(213, 213, 213);
}

.top-header-left {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.top-header-right {
    font-family: robotoBlack;
    justify-items: left;
    align-items: center;
    display: grid;
    margin-left: 40px;
    grid-template-columns: 40px .5fr 2fr;
    
}

.top-header-right p {
    margin-left: 10px;
   
}



.bottom-header-right {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   padding-top: 15px;
   padding-bottom: 10px;
   margin-right: 10px;
}

.bottom-header-right button {
    padding: 0px 20px 0px 20px;
    height: 33px;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #0284c7;
}
.bottom-header-left {
    display: grid;
    grid-template-columns: 80px 300px;
    grid-template-rows: 1fr 1fr;
}
.avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: center;
    align-items: center;
    
}
.welcome {
    margin-top: 15px;
    font-size: 11px;
}
.username {
    font-size: 18px;
}

.menu ul li a {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    
}
.menu ul li a img {
    width: 20px;
    
}
.menu ul li {
    margin-top: 20px;
    list-style: none;
}

.main {
    margin-top: 5px;
    min-width: 700px;
    display: grid;
    grid-template-columns: 2fr .75fr;
    grid-template-rows: 40px 3fr;
    padding-bottom: 20px;
    background-color: rgb(213, 213, 213);
}
.news, .projects {
    background-color: rgb(213, 213, 213);
    border: solid 1px black;
}

.projects {
    resize: both;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows:  1fr 1fr 1fr;
    column-gap: 15px;
    /* row-gap: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.projects, .news {
    resize: both;

}

.projects-head {
    margin: 15px 0px 10px 20px;
    max-height: 20px;
    grid-column: 1 / 2;
}

.projects-announcements {
    margin-top: 15px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

.articles {
    display: grid;
    grid-template-rows: 2fr 1fr;
    
    height: 160px;
    background-color: white;
    border-radius: 5px;
    border-left: 7px solid gold;
    padding: 20px 10px 10px 10px;
}
.article-text {
    font-size: 12px;
    color: gray;
}

.article-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 10px;
    margin-top: 20px;
}

.article-icons a img {
    width: 18px;
}

.news {
    width: 200px;
    display: grid;
    grid-template-rows:  1fr 15px  .75fr;
    row-gap: 20px;
    padding-right: 10px;
    border: none;
}

.trending-user-name {
    display: flex;
    flex-direction: column-reverse;
}

.news-articles {
    max-width: 210px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;   
}

.trending-articles {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    border-radius: 5px;
    background-color: white;   
}

.trending-articles p {
    font-size: 10px;
}

.trending-meat {
    display: grid;
    grid-template-rows: 1fr 1fr;
   
}

.trending-project-name {
    color: gray;
}

.trending-avatar {
    margin-left: 16px;
}

.announcement-text {
    font-size: 10px;
    color: gray;
}

.announcements {
    padding: 10px;
}
h4 {
    margin-bottom: 3px;
}
h5 {
    font-size: 12px;
    margin-bottom: 3px;
}